package usecase

type {{.InterfaceName}} interface {
    Do()
}

type {{.StructName}} struct {
	// not implemented
}

func New{{.InterfaceName}}() ({{.InterfaceName}}, error) {
	return {{.StructName}}{
		// not implemented
	}, nil
}

func (_ {{.StructName}}) Do() {
    // not implemented
}
